body{
    background: linear-gradient(
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 114, 115, 1) 100%,
        rgba(0, 212, 255, 1) 100%
    );
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;

}

.calculater{
    max-width: 300px;
    border-radius: 70px;
    padding: 0 30px;
    padding-block: 50px;
    box-shadow: 0 1px 8px rosybrown;
    background-color: #000000;
    color: #fff;
    animation: spin 8s linear infinite;

}

.calculater:hover{
    animation: none;
}

.display {
    font-size: 36px;
    padding: 10px;
    background-color: #000000;
    margin-bottom: 20px;
    text-align: right;
    border-radius: 8px;
    box-shadow: 0 1px 8px rosybrown;
    height: 40px;

}

.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.buttons  :nth-child(1) {
    background-color: #000;
    border: none;
    cursor: default;
}

button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    border-radius: 12px;
    background-color: aqua;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: all 0.3s ease-in-out;
}
button:active {
    background-color: #2d2d2f;
}
button.operator {
    background-color: blue;
    color: #fff;
}
button.operator:active {
    background-color: yellow;
}

.buttom .zero {
    width: 48%;
    border-radius: 20%;
}